<style type="text/css">
.tg  {border-collapse:collapse;border-color:#ccc;border-spacing:0;}
.tg td{background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-84g4{font-size:24px;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-btxf{background-color:#f9f9f9;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg"><thead>
  <tr>
    <th class="tg-84g4"><span style="font-weight:bold">DAY 1</span></th>
    <th class="tg-0lax"></th>
  </tr></thead>
<tbody>
  <tr>
    <td class="tg-btxf">Before</td>
    <td class="tg-btxf"><a href="https://datacarpentry.github.io/R-ecology-lesson/instructor/index.html#setup" target="_blank" rel="noopener noreferrer"><span style="font-weight:bold">Setup instructions</span></a><br><a href="https://carpentries.typeform.com/to/wi32rS?slug=2025-01-11-ucla-eeb-hacky-hours" target="_blank" rel="noopener noreferrer"><span style="font-weight:bold">Pre-workshop survey</span></a></td>
  </tr>
  <tr>
    <td class="tg-0pky">08:30-09:00 (30 minutes)</td>
    <td class="tg-0pky">Introductions, installation help, and settle in</td>
  </tr>
  <tr>
    <td class="tg-btxf">09:00-09:45 (45 minutes)</td>
    <td class="tg-btxf">Introduction to R and RStudio</td>
  </tr>
  <tr>
    <td class="tg-0pky">09:45-11:15 (1 hour 30 minutes)</td>
    <td class="tg-0pky">Data visualization with ggplot2</td>
  </tr>
  <tr>
    <td class="tg-btxf">11:15-11:25 (10 minutes)</td>
    <td class="tg-btxf"><span style="font-weight:bold">BREAK</span></td>
  </tr>
  <tr>
    <td class="tg-0pky">11:25-12:25 (1 hour)</td>
    <td class="tg-0pky">Exploring and understanding data</td>
  </tr>
  <tr>
    <td class="tg-btxf">12:25-1:25 (1 hour)</td>
    <td class="tg-btxf"><span style="font-weight:bold">LUNCH</span></td>
  </tr>
  <tr>
    <td class="tg-0pky">1:25-2:25 (1 hour)</td>
    <td class="tg-0pky">Working with data (part 1)</td>
  </tr>
  <tr>
    <td class="tg-btxf">2:25-2:35 (10 minutes)</td>
    <td class="tg-btxf"><span style="font-weight:bold">BREAK</span></td>
  </tr>
  <tr>
    <td class="tg-0pky">2:35-3:35 (1 hour)</td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal">Working with data (part 2)</span></td>
  </tr>
</tbody></table>

<style type="text/css">
.tg  {border-collapse:collapse;border-color:#ccc;border-spacing:0;}
.tg td{background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-1mhr{border-color:#000000;font-size:24px;text-align:left;vertical-align:top}
.tg .tg-73oq{border-color:#000000;text-align:left;vertical-align:top}
.tg .tg-i817{background-color:#f9f9f9;border-color:#000000;text-align:left;vertical-align:top}
</style>
<table class="tg"><thead>
  <tr>
    <th class="tg-1mhr"><span style="font-weight:bold">DAY 2</span></th>
    <th class="tg-73oq"></th>
  </tr></thead>
<tbody>
  <tr>
    <td class="tg-i817">Before</td>
    <td class="tg-i817"><a href="https://swcarpentry.github.io/shell-novice/instructor/index.html#setup" target="_blank" rel="noopener noreferrer"><span style="font-weight:bold">Setup instructions</span></a><br><a href="https://carpentries.typeform.com/to/wi32rS?slug=2025-01-11-ucla-eeb-hacky-hours" target="_blank" rel="noopener noreferrer"><span style="font-weight:bold">Pre-workshop survey</span></a></td>
  </tr>
  <tr>
    <td class="tg-73oq">08:30-08:45 (15 minutes)</td>
    <td class="tg-73oq">Settle in</td>
  </tr>
  <tr>
    <td class="tg-i817">08:45-08:50 (5 minutes)</td>
    <td class="tg-i817">Introducing the Shell</td>
  </tr>
  <tr>
    <td class="tg-73oq">08:50-09:30 (40 minutes)</td>
    <td class="tg-73oq">Navigating Files and Directories</td>
  </tr>
  <tr>
    <td class="tg-i817">09:30-10:20 (50 minutes)</td>
    <td class="tg-i817"><span style="font-weight:400;font-style:normal">Working With Files and Directories</span></td>
  </tr>
  <tr>
    <td class="tg-73oq">10:20-10:30 (10 minutes)</td>
    <td class="tg-73oq"><span style="font-weight:bold">BREAK</span></td>
  </tr>
  <tr>
    <td class="tg-i817">10:30-11:05 (35 minutes)</td>
    <td class="tg-i817">Pipes and Filters</td>
  </tr>
  <tr>
    <td class="tg-73oq">11:05-11:55 (50 minutes)</td>
    <td class="tg-73oq">Loops</td>
  </tr>
  <tr>
    <td class="tg-i817">11:55-1:00 (1 hour 5 minutes)</td>
    <td class="tg-i817"><span style="font-weight:bold">LUNCH</span></td>
  </tr>
  <tr>
    <td class="tg-73oq">1:00-1:45 (45 minutes)</td>
    <td class="tg-73oq">Shell Scripts</td>
  </tr>
  <tr>
    <td class="tg-i817">1:45-1:55 (10 minutes)</td>
    <td class="tg-i817"><span style="font-weight:bold">BREAK</span></td>
  </tr>
  <tr>
    <td class="tg-73oq">1:55-2:40 (45 minutes)</td>
    <td class="tg-73oq">Finding Things</td>
  </tr>
</tbody></table>
